/**
 * Menu principal
 */
li#menu-posts,
li#menu-media,
li#menu-comments,
li#menu-posts-cpt_layouts,
li#menu-posts-cpt_classes,
li#menu-posts-cpt_team,
li#menu-posts-cpt_testimonials,
li#toplevel_page_wpcf7,
li#menu-posts-product,
li#toplevel_page_edit-post_type-mp-event,
li#menu-tools,
li#toplevel_page_vc-welcome{
    display: none !important;
}

/**
 * Eventos
 */
li#menu-posts-tribe_events .wp-submenu,
li#menu-posts-tribe_events .wp-submenu li{
    display: none !important;
}

#wpfooter,
#wpbody-content .page-title-action,
#wpbody-content .bulkactions{
    display: none !important;
}

tr.iedit td.title.column-title .row-actions span.edit,
tr.iedit td.title.column-title .row-actions span.inline.hide-if-no-js,
tr.iedit td.title.column-title .row-actions span.trash{
    display: none !important;
}

/**
 * Barra de administración
 */
#wp-admin-bar-root-default li#wp-admin-bar-wp-logo,
#wp-admin-bar-root-default ul#wp-admin-bar-site-name-default,
#wp-admin-bar-root-default li#wp-admin-bar-new-content,
#wp-admin-bar-root-default li#wp-admin-bar-archive,
#wp-admin-bar-root-default li#wp-admin-bar-comments,
#wp-admin-bar-root-default li#wp-admin-bar-tribe-events{
    display: none !important;
}

/**
 * Registro de asistentes
 */
#tribe-order-summary .welcome-panel-first .event-actions,
#tribe-attendees-summary .welcome-panel-first .event-actions{
    display: none !important;
}