#wpadminbar{
    li#wp-admin-bar-wp-logo,
    li#wp-admin-bar-comments,
    li#wp-admin-bar-tribe-events,
    li#wp-admin-bar-new-content,
    li#wwp-admin-bar-tribe-events{
        display: none !important;
    }
}