/* classes */
.sc_classes_default .sc_classes_item_subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.sc_classes_default .trx_addons_hover_content .trx_addons_hover_title {
	font-size: 1.3333em;
}
.sc_classes_default .sc_classes_item_icon {
	margin-top: 0.8em;
}
.sc_classes_default .sc_classes_item_info {
	padding: 2.1em 2.55em;
	text-align:left;
}
.sc_classes_default .sc_classes_item_title {
	margin-top:0.6em;
}
.sc_classes_default .sc_classes_item_subtitle {
	letter-spacing:0.25px;
	margin-top:0.1em;
}
.sc_classes_default .sc_classes_item_content {
	margin-top: 1.15em;
}
.sc_classes_default .sc_classes_item_button {
	margin:2.15em 0 0;
}
.sc_classes_iconed .sc_classes_item_icon {
	font-size:2.8em;
	line-height:1em;
}
.sc_classes_iconed .sc_classes_item_header {
	padding:2rem;
}
.sc_classes_iconed .sc_classes_item_title {
	font-size:1em;
	line-height:1.5em;
}
.sc_classes_iconed .sc_classes_item_subtitle,
.sc_classes_iconed .sc_classes_item_button {
	display:none;
}



.sc_classes.sc_classes_light .sc_classes_columns {
    margin: 0 !important;
}
.sc_classes.sc_classes_light .sc_classes_columns [class*="trx_addons_column-"] {
    padding: 0 !important;
}
.sc_classes.sc_classes_light .sc_classes_item .post_featured {
    margin: 0;
}
.sc_classes.sc_classes_light .sc_classes_item {
    position: relative;
}
.sc_classes.sc_classes_light .sc_classes_item .sc_classes_item_header {
    left: 1.8em;
    position: absolute;
    top: 1.7em;
}
.sc_classes_light .sc_classes_item_title {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.2px;
    line-height: 18px;
}
.sc_classes_light .sc_classes_item_subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin-top: 3px;
}
.sc_classes_light .post_featured a {
    position: relative;
    display: block;
}
.sc_classes_light .post_featured a:before {
    content: ' ';
    background-image: url(./img/jka_logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent !important;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: block;
    font-size: 86px;
    height: 126px;
    left: 50%;
    line-height: 126px;
    margin: -63px 0 0 -63px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 126px;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    color: #ffffff;
}

.sc_classes_light .sc_classes_item:hover .post_featured a:before {
    opacity: 0.85;
}