/* Essential Grid styles
----------------------------------------------------------------- */

.esg-grid {
  i[class*="eg-icon-"] {
    color: #fff;
    -webkit-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    transition: color 0.5s ease;
  }

  a:hover i[class*="eg-icon-"] {
    color: #ffffff;
  }
}

.eg-ajax-target{
  text-align: justify;
}

.esg-navigationbutton {
  i[class*="eg-icon-"],
  &:hover i[class*="eg-icon-"] {
    color: #ffffff;
  }
}

.esgbox-navigation{
  .esgbox-button{
    &:focus, &:hover{
      background-color: transparent;
      &:before{
        background-color: $primary-color;
      }
    }
  }
}

.esgbox-toolbar{
  .esgbox-button{
    &:hover{
      background-color: $primary-color;
    }
  }
}

.flat-light .esg-filters {
  .esg-sortbutton-order,
  .esg-cartbutton-order {
    line-height: 36px;
    margin: 0;
  }

  .esg-sortbutton {
    padding-right: 0;
  }
}

.esgbox-overlay {
  z-index: 28010 !important;
}

.esgbox-opened {
  z-index: 28030 !important;
}

.eg-jka-wrapper,
.eg-jka-title-wrapper,
.eg-jka-modal-wrapper {
  .esg-entry-media {
    &:after {
      content: "";
      display: block;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 98;
      opacity: 0;
    }

    &:before {
      content: " ";
      background-image: url(./img/jka_logo.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      height: 90px;
      left: 0;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      color: #ffffff;
      z-index: 99;
      opacity: 0;
    }

    &:hover {
      &:before,
      &:after {
        opacity: 0.85;
      }
    }
  }

  .lastclickedajax {
    .esg-entry-media-wrapper {
      border: 2px solid rgba($primary-color, 0.85);
      border-radius: 2px;
      overflow: visible !important;
      .esg-entry-media {
        &:before,
        &:after {
          height: 50%;
          opacity: 0.85;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-top: solid 10px rgba($primary-color, 0.85);
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
      }
    }
  }

  .eg-alter-wrapper .eg-alter-element-3 {
    letter-spacing: 0.5px;
  }
}

.esg-navigationbutton{
  background-color: $secondary-color !important;
  margin-top: 10px !important;
  transition: all 0.5s !important;
  &:hover{
    background-color: $primary-color !important;
  }
}
