.wpcf7-form-control-wrap{
    input, textarea{
        width: 100%;
    }
}

.anr_captcha_field{
    margin-bottom: 15px;
}

.woocommerce-form__label-for-checkbox{
    #rememberme{
        display: inline-block !important;
    }
}