.sc_layouts_menu_mobile_button{
    position: absolute;
    right: 2.75em;
    z-index: 99999;
    display: block;
    top: 1.25em;
    .sc_layouts_item_icon{
        color: $clear-color !important;
        &:hover{
            color: $primary-color !important;
        }
    }
}

.main-menu-container-row{
    .vc_column_container .vc_column-inner {
        padding-top: 0;
    }
}

.scheme_dark .sc_layouts_menu_nav > li ul{
    background-color: $clear-color;
    li > a {
        color: $secondary-color !important;
        &:hover{
            color: $primary-color !important;
        }
    }
}