section.classes_page_header{
    .classes_page_featured{
        img{
            max-width: 350px;
            float: right;
            padding: 50px 20px 50px;
        }
    }

}
section.classes_page_content{
    &.entry-content{
        text-align: justify;
    }
}

.content_wrap, .content_container {
	@media (max-width: 479px) {
        width: 100% !important;
      }
}