#tribe-events-content-wrapper, #tribe-events-content{
    max-width: 100% !important;
    padding: 0 0 2em 0 !important;
}

.events-list .tribe-events-loop{
    max-width: 100% !important;
}
.single-tribe_events{
    .tribe-events-single-section{
        float: none !important;
        width: 100% !important;
    }

    .tribe-events-event-image{
        float: none !important;
        max-width: 800px !important;
        margin: 0 auto 1em auto !important;
        width: 100%;
    }
    
}

.tribe-events-list{
    .tribe-events-loop{
        .tribe-events-event-image{
            width: 35% !important;
            max-width: none !important;
            @media (max-width: 768px) {
                width: 100% !important;
                float: none !important;
                margin: 0 0 10px !important;
                text-align: center;
                a{
                    img{
                        width: 400px !important;
                        max-width: none !important;
                        height: auto !important;
                        max-height: none !important;
                    }

                }
            }
            @media (max-width: 479px) {
                a{
                    img{
                        width: 350px !important;
                    }
                }
            }
        }

    }

}

.tribe-common{
    &.tribe-tickets{
        max-width: 100% !important;
    }
    .tribe-tickets__buy{
        max-width: 580px;
        margin: 0 auto !important;
    }
    .tribe-common-form-control-text__input{
        padding: 15px !important;
    }

    .tribe-tickets__item__content__title{
        color: black;
        font-weight: bold;
    }

    .tribe-tickets__item__extra__price{
        color: $primary-color;
    }

}

.tribe-checkout-backlinks{
    a{
        padding: 10px 25px 10px 0;
        &:before{
            content: '«';
        }
    }
}