.sc_layouts_cart{
    text-align: right;
}

.wc-stripe-elements-field, .wc-stripe-iban-element-field{
    height: 1em;
    padding: 1em;
}

.woocommerce-SavedPaymentMethods-saveNew{
    input{
        visibility: hidden;
    }
}

.woocommerce-order-details{
    .tribe-attendee-meta{
        width: 100%;
        td{
            padding: 5px !important;
        }

    }
}

.woocommerce-checkout{
    #payment{
        li.wc_payment_method{
            label{
                margin: 15px 0 !important;
                width: 100% !important; 
            }
        }
        div.payment_box{
            background-color: $secondary-color !important;
            color: $clear-color !important;
            &:before{
                border-color: transparent transparent $secondary-color !important;
            }

        }

    }

}