@font-face {
    font-family: 'connoisseurs';
    src: url('connoisseurs-webfont.woff2') format('woff2'),
         url('connoisseurs-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}