/* MailChimp for WP styles
----------------------------------------------------------------- */
.mc4wp-form {
	position:relative;
}
.mc4wp-form .mc4wp-form-fields input[type="email"] {
	padding: 0.8em 1.2em;
    padding-right: 9em;
	width: 99%;
    height: 42px;
	vertical-align:top;
    letter-spacing: 0.4px;
    -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 2em;
    -ms-border-radius: 2em;
    border-radius: 2em;
}
.mc4wp-form .mc4wp-form-fields input[type="submit"] {
    font-size: 11px;
    font-weight: 700;
    height: 42px;
    letter-spacing: 0.5px;
    max-width: 11em;
    padding: 1.2em 2.1em;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    z-index: 1;
    -webkit-border-radius: 2em;
    -ms-border-radius: 2em;
    border-radius: 2em;
}
.mc4wp-form .mc4wp-alert {
	margin: 1.5em 0;
	padding: 1em;
	line-height:1.5em;
}
footer .mc4wp-form {
    width: 100%;
    max-width: 25.8em;
    margin: 0 auto;
}
.mc4wp-form .terms_agree_checkbox_wrap {
    margin-top: 0.5em;
}
.mc4wp-form input[type="checkbox"]{
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 8px;
}
