/* Essential Grid styles
----------------------------------------------------------------- */

.esg-grid i[class*="eg-icon-"] {
	color: #fff;
	-webkit-transition: color .5s ease;
	    -ms-transition: color .5s ease;
	        transition: color .5s ease;
}
.esg-grid a:hover i[class*="eg-icon-"] {
	color: #ffffff;
}
.esg-navigationbutton i[class*="eg-icon-"] {
	color: #ffffff;
}
.esg-navigationbutton:hover i[class*="eg-icon-"] {
	color: #ffffff;
}

.flat-light .esg-filters .esg-sortbutton-order,
.flat-light .esg-filters .esg-cartbutton-order {
	line-height:36px;
	margin:0;
}
.flat-light .esg-filters .esg-sortbutton {
	padding-right: 0;
}

.esgbox-overlay {
	z-index: 28010 !important;
}
.esgbox-opened {
	z-index: 28030 !important;
}


.eg-about-wrapper .esg-entry-media:after {
    content: '';
    display: block;
    left: 0;
    margin: 0;
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 98;
    opacity: 0;
}
.eg-about-wrapper .esg-entry-media:before {
    content: '\e940';
    font-family: 'fontello';
    display: block;
    font-size: 86px;
    line-height: 86px;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    color: #ffffff;
    z-index: 99;
    opacity: 0;
}
.eg-about-wrapper .esg-entry-media:hover:before,
.eg-about-wrapper .esg-entry-media:hover:after {
    opacity: 1;
}
.eg-alter-wrapper .eg-alter-element-3 {
    letter-spacing: 0.5px;
}