/*
 * Custom layouts.
 *
 */
.sc_layouts_column .sc_layouts_item {							display: inline-block; vertical-align:middle; margin-right: 1.5em; }
.sc_layouts_column .sc_layouts_item:last-child { 				margin-right:0; }
.sc_layouts_column_align_right .sc_layouts_item {				margin-left: 1.5em; margin-right:0; }
.sc_layouts_column_align_right .sc_layouts_item:first-child {	margin-left:0; }

.sc_layouts_column_align_left,
.sc_layouts_column.sc_layouts_column_align_left .widget,
.sc_layouts_column.sc_layouts_column_align_left .widget_title,
.sc_layouts_column.sc_layouts_column_align_left .widgettitle {	text-align:left; }
.sc_layouts_column_align_center,
.sc_layouts_column.sc_layouts_column_align_center .widget,
.sc_layouts_column.sc_layouts_column_align_center .widget_title,
.sc_layouts_column.sc_layouts_column_align_center .widgettitle {	text-align:center; }
.sc_layouts_column_align_right,
.sc_layouts_column.sc_layouts_column_align_right .widget,
.sc_layouts_column.sc_layouts_column_align_right .widget_title,
.sc_layouts_column.sc_layouts_column_align_right .widgettitle {	text-align:right; }

@media (max-width: 767px) {
	.sc_layouts_column {
		width: 100% !important;
	}
	.sc_layouts_column_align_left,
	.sc_layouts_column_align_right {
		text-align:center;
	}
	.sc_layouts_hide_on_mobile {
		display: none !important;
	}
}
@media (max-width: 1023px) {
	.sc_layouts_hide_on_tablet {
		display: none !important;
	}
}

body.frontpage .sc_layouts_hide_on_frontpage,
body.error404 .sc_layouts_hide_on_frontpage {
	display: none !important;
}

.sc_layouts_row_delimiter {
	border-bottom: 1px solid #ddd;
}


/* Common rules
------------------------------------------------- */

/* VC Separator */
.sc_layouts_row .vc_separator {
	margin-top: 3em !important;
	margin-bottom: 3em !important;
}

/* Text with icons */
.sc_layouts_item_link {
	display:block;
}
.sc_layouts_item_icon {
	font-size: 2.25em;
	line-height:1.1em;
	display: inline-block;
	vertical-align:middle;
	-webkit-transition: color .3s ease;
	    -ms-transition: color .3s ease;
	        transition: color .3s ease;
}
.sc_layouts_item_details {
	display: inline-block;
	vertical-align:middle;
}
.sc_layouts_item_icon + .sc_layouts_item_details {
	margin-left: 0.5em;
}
.sc_layouts_column_icons_position_left .sc_layouts_item_details {
	text-align: left;
}
.sc_layouts_column_icons_position_right .sc_layouts_item_details {
	text-align: right;
}
.sc_align_center .sc_layouts_item_details {
	text-align: center;
}
.sc_layouts_item_details_line1,
.sc_layouts_item_details_line2 {
	display: block;
}
.sc_layouts_item_details_line1 {
	font-weight:400;
	font-size:13px;
	line-height:16px;
}
.sc_layouts_item_details_line2 {
	font-weight:700;
	font-size:16px;
	line-height:21px;
}

@media (max-width: 959px) {
	.sc_layouts_item_details_line1 {
		font-size:12px;
		line-height:16px;
	}
	.sc_layouts_item_details_line2 {
		font-size:15px;
		line-height:20px;
	}
}
@media (max-width: 767px) {
	.sc_layouts_item_details_line1 {
		font-size:11px;
		line-height:14px;
	}
	.sc_layouts_item_details_line2 {
		font-size:13px;
		line-height:18px;
	}
}
.sc_layouts_column_icons_position_right .sc_layouts_item:after {
	content: ' ';
	width: 100%;
	height: 0;
	clear:both;
}
.sc_layouts_column_icons_position_right .sc_layouts_item_icon {
	float:right;
	margin-left: 0.4em;
	margin-right: 0;
}
.sc_layouts_column_icons_position_right .sc_layouts_item_details {
	float:right;
}



/* Row type: Narrow
-------------------------------------------------- */
.sc_layouts_row_type_narrow {
	font-size: 13px;
	line-height:19px;
	padding: 0.5em 0;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}

@media (max-width: 959px) {
	.sc_layouts_row_type_narrow {
		font-size: 12px;
		line-height:18px;
	}
}
@media (max-width: 767px) {
	.sc_layouts_row_type_narrow {
		font-size: 11px;
		line-height:16px;
	}
}

.sc_layouts_row_type_narrow .sc_layouts_item {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Text with icons */
.sc_layouts_row_type_narrow .sc_layouts_item_icon,
.sc_layouts_row_type_narrow .sc_layouts_item input[type="text"] {
	font-size: inherit;
	font-weight: inherit;
	line-height:inherit;
}
.sc_layouts_row_type_narrow .sc_layouts_item_details_line1,
.sc_layouts_row_type_narrow .sc_layouts_item_details_line2 {
	display:inline-block;
	font-size:inherit;
	font-weight:inherit;
	line-height:inherit;
}
.sc_layouts_row_type_narrow .sc_layouts_item_details_line1 + .sc_layouts_item_details_line2 {
	margin-left: 0.5em;
}

/* Social icons */
.sc_layouts_row_type_narrow .socials_wrap {
	margin: 0 -8px 0 0;
}
.sc_layouts_row_type_narrow .socials_wrap .social_item {
	margin: 0 8px 0 0;
}
.sc_layouts_row_type_narrow .socials_wrap .social_item .social_icon {
	width: auto;
	height: auto;
	line-height:inherit;
	font-size: 15px;
	-webkit-border-radius: 0;
	    -ms-border-radius: 0;
			border-radius: 0;
}
.sc_layouts_row_type_narrow .socials_wrap .social_item_style_bg .social_icon {
	width: 1.2em;
	height: 1.2em;
}

/* Button */
.sc_layouts_row_type_narrow .sc_button {
	background-color: transparent;
	border: 1px solid #efa758;
	color: #efa758;
	text-transform:uppercase;
	font-size:11px;
	font-weight:400;
	padding: 1em 2em;
	letter-spacing:0;
	vertical-align:top;
}



/* Row type: Compact
-------------------------------------------------- */
.sc_layouts_row_type_compact {
	padding: 0.75em 0;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.sc_layouts_row_type_compact .sc_layouts_item {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Text with icons */
.sc_layouts_row_type_compact .sc_layouts_item_icon {
	font-size:1.25em;
	font-weight: 400;
}
.sc_layouts_row_type_compact .sc_layouts_item input[type="text"] {
	font-size: inherit;
	font-weight: inherit;
	line-height:inherit;
}
.sc_layouts_row_type_compact .sc_layouts_item_details_line1,
.sc_layouts_row_type_compact .sc_layouts_item_details_line2 {
	display:inline-block;
	font-size:inherit;
	font-weight:inherit;
	line-height:inherit;
}
.sc_layouts_row_type_compact .sc_layouts_item_details_line1 + .sc_layouts_item_details_line2 {
	margin-left: 0.5em;
}

/* Social icons */
.sc_layouts_row_type_compact .socials_wrap {
	margin: 0 -10px 0 0;
}
.sc_layouts_row_type_compact .socials_wrap .social_item {
	margin: 0 10px 0 0;
}
.sc_layouts_row_type_compact .socials_wrap .social_item .social_icon {
	width: auto;
	height: auto;
	line-height:inherit;
	font-size: 15px;
	-webkit-border-radius: 0;
	    -ms-border-radius: 0;
			border-radius: 0;
}
.sc_layouts_row_type_compact .socials_wrap .social_item_style_bg .social_icon {
	width: 1.2em;
	height: 1.2em;
}


/* Button */
.sc_layouts_row_type_compact .sc_button {
	background-color: #efa758;
	color: #fff;
	font-size:12px;
	font-weight:400;
	padding: 1.5em 3em;
	letter-spacing:0.5px;
	vertical-align:top;
}



/* Row type: Normal
-------------------------------------------------- */
.sc_layouts_row_type_normal {
	padding: 2em 0;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.sc_layouts_row_type_normal .sc_layouts_item {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Button */
.sc_layouts_row_type_normal .sc_button {
	background-color: #efa758;
	color: #fff;
	font-size:11px;
	font-weight:600;
	padding: 1.5em 3em;
	letter-spacing:0.5px;
	vertical-align:top;
}



/* Fixed rows
--------------------------------------------- */
.sc_layouts_row_fixed_placeholder {
	display: none;
}
.sc_layouts_row_fixed_on + .sc_layouts_row_fixed_placeholder {
	display: block;
}
.sc_layouts_row_fixed_on {
	position: fixed;
	z-index:100002;
	top: 0;
	left: -15px;
	right: -15px;
	margin: 0 !important;
	background-color:#fff;
}
.sc_layouts_row_fixed_on ~ .sc_layouts_row_fixed_on {
	z-index:100001;
}
.sc_layouts_row_fixed_on ~ .sc_layouts_row_fixed_on ~ .sc_layouts_row_fixed_on {
	z-index:100000;
}
@media (max-width: 600px) {
	.sc_layouts_row_fixed_on {
		position:absolute;
	}
}
.sc_layouts_row_type_compact.sc_layouts_row_fixed_on,
.sc_layouts_row_type_normal.sc_layouts_row_fixed_on {
	padding-top:0;
	padding-bottom:0;
}
.sc_layouts_row.sc_layouts_row_fixed_on .sc_layouts_logo img {
	max-height:60px;
}