/* ThemeREX Addons
------------------------------------------------------------------------------------ */

.sc_content_width_1_1 {	width: 1170px; }
.sc_content_width_1_2 {	width: 585px; }
.sc_content_width_1_3 {	width: 390px; }
.sc_content_width_2_3 {	width: 780px; }
.sc_content_width_1_4 {	width: 292.5px; }
.sc_content_width_3_4 {	width: 877.5px; }

/* Grid */
.trx_addons_container, .trx_addons_container-fluid {
	padding-left:  15px;
	padding-right: 15px;
}
.trx_addons_columns_wrap {
	margin-right: -30px;
}
.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
	padding-right: 30px;
}
.trx_addons_columns_wrap.columns_padding_left {
	margin-left: -30px;
}
.trx_addons_columns_wrap.columns_padding_left > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_left {
	padding-left: 30px;
}
.trx_addons_columns_wrap.columns_padding_right {
	margin-right: -30px;
}
.trx_addons_columns_wrap.columns_padding_right > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_right {
	padding-right:30px;
}
.trx_addons_columns_wrap.columns_padding_center {
	margin-left: -15px;
	margin-right: -15px;
}
.trx_addons_columns_wrap.columns_padding_center > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_center {
	padding-left:30px;
}
.trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom {
	padding-bottom: 30px;
}

.sidebar .trx_addons_columns_wrap {
	margin-right: 0;
}
.sidebar .trx_addons_columns_wrap [class*="trx_addons_column-"] {
	display:block;
	width: 100%;
	padding: 0;
}

.trx_addons_scroll_to_top {
	border: none;
}
.menu_style_right .trx_addons_scroll_to_top {
	right: 1em;
}


/* Layouts
---------------------------------------------- */
.menu_style_left .sc_layouts_row_fixed_on {
	padding-left: 6rem;
}
.menu_style_right .sc_layouts_row_fixed_on {
	padding-right: 6rem;
}
.header_position_under .top_panel .wpb_row {
	background-color: transparent !important;
}

.top_panel.with_bg_image .sc_layouts_row:not(.sc_layouts_row_fixed_on) {
	background-color:transparent;
}

.remove_margins .sc_layouts_title,
.top_panel.with_bg_image .sc_layouts_title {
	margin-bottom: 2rem;
}


/* Search field inside content */
.content .search_wrap {
	max-width:50%;
	margin:0;
}
.post_item_none_search .search_wrap,
.post_item_none_archive .search_wrap {
	max-width:none;
}
.content .search_wrap .search_form_wrap {
	width: 100%;
}
.content .search_wrap .search_form_wrap .search_field {
	width:100%;
}
.content .search_wrap .search_submit {
	background-color:transparent;
}
.post_item_none_search .search_wrap .search_field,
.post_item_none_archive .search_wrap .search_field {
	padding: 1em 3em 1em 1.5em;
}
.post_item_none_search .search_wrap .search_submit,
.post_item_none_archive .search_wrap .search_submit {
	left: auto;
	right: 0;
	top: 0;
	padding: 0 1em;
}
.content .search_wrap .search_results {
	width:100%;
}


/* Headers layouts
---------------------------------------------- */
.sc_layouts_item_details_line1 {
	font-weight:300;
}
.sc_layouts_item_details_line2 {
	font-weight:600;
}
.sc_layouts_row_type_narrow .sc_layouts_item {
	font-size: 12px;
    font-weight: 700;
	line-height:1.4615em;
	letter-spacing:0.3px;
}

.sc_layouts_row_type_compact .sc_layouts_item,
.sc_layouts_row_type_normal .sc_layouts_item {
	letter-spacing:0;
}
.sc_layouts_row_type_narrow .socials_wrap .social_item .social_icon,
.sc_layouts_row_type_narrow .sc_layouts_item_icon {
    font-weight: 400;
}

.sc_layouts_menu_nav li[class*="columns-"] li.menu-item-has-children > a {
	font-weight:600;
	font-size: 1.0769em;
}


/* Slider
---------------------------------------------- */

/* Pagination */
.slider_swiper .swiper-pagination-bullet,
.slider_swiper_outer .swiper-pagination-bullet {
	border: 2px solid #f0f0f0;
	background-color: transparent;
	width: 10px;
	height: 10px;
}
.sidebar .slider_pagination_pos_bottom > .swiper-pagination,
.sidebar .slider_outer_pagination_pos_bottom > .swiper-pagination {
	bottom: 0.5em;
}
.sidebar .slider_swiper .swiper-pagination-bullet,
.sidebar .slider_swiper_outer .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
}

/* Controls */
.sidebar .slider_swiper_outer .slider_controls_wrap,
.sidebar .slider_swiper.slider_controls_side .slider_controls_wrap {
	display:none;
}
.sc_slider_controls .slider_controls_wrap > a,
.slider_swiper.slider_controls_side .slider_controls_wrap > a,
.slider_outer_controls_side .slider_controls_wrap > a,
.slider_outer_controls_top .slider_controls_wrap > a,
.slider_outer_controls_bottom .slider_controls_wrap > a {
	width: 3.36em;
	height: 3.36em;
	line-height: 3.36em;
}


.swiper-button-next,
.swiper-button-prev {
    margin-top: -1.68em;
}

.slider_swiper.slider_controls_side .slider_controls_wrap > .slider_prev,
.slider_outer_controls_side .slider_controls_wrap > .slider_prev {
	opacity: 0;
	margin-left: -100px;
	left: 0;
}
.slider_swiper.slider_controls_side .slider_next,
.slider_outer_controls_side .slider_controls_wrap > .slider_next {
	opacity: 0;
	margin-right:-100px;
	right: 0;
}
.slider_swiper.slider_controls_side:hover .slider_controls_wrap > a,
.slider_outer_controls_side:hover + .slider_controls_wrap > a {
	opacity: 1;
	margin-left:20px;
	margin-right:20px;
}


.sc_slider_controls .slider_controls_wrap > a:before,
.slider_swiper.slider_controls_side .slider_controls_wrap > a:before,
.slider_outer_controls_side .slider_controls_wrap > a:before,
.slider_outer_controls_top .slider_controls_wrap > a:before,
.slider_outer_controls_bottom .slider_controls_wrap > a:before {
	font-family:'fontello';
	font-size:0.95em;
}
.sc_slider_controls .slider_controls_wrap > .slider_prev:before,
.slider_swiper.slider_controls_side .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_side .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_top .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_bottom .slider_controls_wrap > .slider_prev:before {
	content: '\e91f';
    margin-left: -3px;
}
.sc_slider_controls .slider_controls_wrap > .slider_next:before,
.slider_swiper.slider_controls_side .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_side .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_top .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_bottom .slider_controls_wrap > .slider_next:before {
	content: '\e922';
    margin-right: -3px;
}

.slider_style_modern .slider_controls_label span:first-child {
	font-style: italic;
	letter-spacing: 0;
}
.sc_slider_controller .slider_swiper_outer.slider_outer_controls_side .slider_controls_wrap > a,
.slider_style_modern .slider_swiper.slider_controls_side .slider_controls_wrap > a,
.slider_style_modern.slider_outer_controls_side .slider_controls_wrap > a {
	opacity: 1;
}

.trx_addons_audio_player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total:before,
.trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-total:before {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0;
}
.trx_addons_audio_player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total, .trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-total, .trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-buffering, .trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-loaded, .trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-current, .trx_addons_audio_player .mejs-controls a.mejs-horizontal-volume-slider, .trx_addons_audio_player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .trx_addons_audio_player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    height: 3px !important;
}
.trx_addons_audio_player .mejs-controls div.mejs-time-rail {
	margin-top: 3px !important;
}

.trx_addons_audio_player .mejs-container .mejs-controls a.mejs-horizontal-volume-slider{
    margin-top: 3px !important;
}
.header_widgets_wrap .slider_swiper .slide_overlay.slide_overlay_large {
	background-color: transparent;
}
.slider_swiper.slider_titles_center .slide_info.slide_info_large {
	padding:3em 2em;
	width: 50%;
}
.header_widgets_wrap .slider_swiper.slider_titles_center:not(.slider_multi) .slide_info.slide_info_large {
	width: 18em;
}

.sidebar .slider_swiper.slider_multi .slide_info:not(.slide_info_large),
.sidebar .slider_swiper .slide_info:not(.slide_info_large) {
	bottom: 8px;
}

.slider_swiper .slide_info {
	line-height:1.3em;
}

.slider_swiper .slide_info.slide_info_large .slide_cats {
	color: transparent !important;
}
.slider_swiper .slide_info.slide_info_large .slide_cats a {
	font-size: 0.8667em;
	line-height:1.7333em;
	font-weight: 500;
	text-transform:uppercase;
}
.slider_swiper .slide_info.slide_info_large .slide_title {
	font-size: 1.4em;
	font-weight:400;
	line-height:1.5em;
	text-transform:uppercase;
	margin: 0.5em 0;
}
.slider_swiper .slide_info.slide_info_large .slide_date {
	font-size:0.9333em;
	font-style:italic;
}
.sidebar .slider_swiper.slider_multi .slide_title,
.sidebar .slider_swiper .slide_info:not(.slide_info_large) .slide_title {
	font-size: 1em;
}
.sidebar .slider_swiper.slider_multi .slide_date,
.sidebar .slider_swiper .slide_info:not(.slide_info_large) .slide_date {
	font-size: 12px;
	line-height:16px;
}

.slider_titles_outside_wrap .slide_cats,
.slider_titles_outside_wrap .slide_subtitle {
	font-style: italic;
	letter-spacing:0;
}

.sc_slider_controller_info {
	font-size: 1.3333em;
	line-height:1.2em;
	font-weight:normal;
	font-style:normal;
	letter-spacing:0;
	width: 85%;
}
.sc_slider_controller_titles .sc_slider_controller_info {
	text-transform: uppercase;
}
.sc_slider_controller_thumbs .sc_slider_controller_info {
	font-size: 1.2em;
	line-height:1.2em;
	display:none;
}
.sc_slider_controller_thumbs .sc_slider_controller_info_number {
	color: #ccc;
}
.sc_slider_controller_thumbs .sc_slider_controller_info_title {
	color: #fff;
}



/* Widgets
---------------------------------------------- */
.footer_wrap .sc_layouts_row {
	line-height: 1.7857em;
}

.footer_wrap .sc_layouts_item {
	margin-top: 0;
	margin-bottom: 0;
}

.widget.widget_bg_image {
	padding: 2em 1.5em !important;
}
.widget.widget_bg_image * {
	color: #aaa !important;
}
.widget.widget_bg_image .widget_title,
.widget.widget_bg_image .widget_content a {
	color: #ddd !important;
}
.widget.widget_bg_image .widget_title,
.widget.widget_bg_image .widget_content a:hover {
	color: #fff !important;
}

/* About Me */
.widget_aboutme .aboutme_avatar img {
	width:100%;
	height: auto;
}
.widget_aboutme .aboutme_username {
	text-align:left;
	font-size:1em;
}
.widget_aboutme .aboutme_description {
	margin-top: 1em;
	text-align:left;
	line-height: 1.6em;
}

/* Most Popular */
.widget .trx_addons_tabs .trx_addons_tabs_titles li {
	font-size: 12px;
	font-weight:400;
	font-style:normal;
	line-height: 1.3em;
	text-transform:uppercase;
	letter-spacing:0;
}
.widget .trx_addons_tabs .trx_addons_tabs_titles li:after {
	display:none !important;
}
.widget .trx_addons_tabs .trx_addons_tabs_titles li + li {
	margin-left:0.5em;
}
.widget .trx_addons_tabs .trx_addons_tabs_titles li a {
	padding: 0.3em 0.5em;
}

/* Categories list */
.widget_categories_list[class*="column-"] [class*="column-"],
.sidebar .widget_categories_list [class*="column-"] {
	width:100%;
	float:none;
	overflow:hidden;
}
.widget_categories_list[class*="column-"] [class*="column-"]+[class*="column-"],
.sidebar .widget_categories_list [class*="column-"]+[class*="column-"] {
	margin-top:0.5em;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_item,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_item {
	text-align:left;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image {
	display:inline-block;
	width: 20%;
}
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image {
	display:inline-block;
	width: 32px;
	vertical-align:middle;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image img,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image img {
	width: 100%;
	height: auto;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_title {
	display:inline-block;
	vertical-align:middle;
	width: 70%;
	margin: 0;
	font-size:1em;
	text-align:left;
	text-transform:none;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image + .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image + .categories_list_title {
	padding-left: 1em;
}


/* Recent News + Shortcode Recent News */
body.expand_content .sc_recent_news_style_news-announce .post_size_full { height: 656px; }
body.expand_content .sc_recent_news_style_news-announce .post_size_big { height: 334px;  }
.sc_recent_news .post_counters .post_counters_edit a {
	background-color:transparent !important;
}



.sidebar .sc_recent_news .post_item .post_title,
.footer .sc_recent_news .post_item .post_title {
	font-size: 1em;
}
.sidebar .sc_recent_news .post_item .post_content,
.footer .sc_recent_news .post_item .post_content {
	font-size: 0.8667em;
	line-height:1.3846em;
}
.sc_recent_news .post_accented_off .post_featured.with_thumb .post_video_hover {
	font-size: 1.2em;
}
.sc_recent_news .post_accented_off .slider_controls_wrap {
	display:none;
}
.sc_recent_news .post_accented_off .slider_pagination_wrap {
	bottom: 0;
}
.sc_recent_news .post_accented_off .slider_pagination_wrap .swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	margin-right:3px;
}

/* Recent posts & Most Popular posts & Search Results */
.widget_area .post_item,
.widget .post_item {
	background-color: transparent !important;
}
.widget .post_item + .post_item {
	margin-top:1.6em;
	padding-top: 0;
	border-top: none;
}
.search_results.widget_area .post_item + .post_item {
	border-top:1px solid #e5e5e5;
	margin-top:1.6em;
	padding-top:1.6em;
}
.widget_area .post_item .post_content,
.widget .post_item .post_content {
	overflow:hidden;
}
.widget_area .post_item .post_title,
.widget .post_item .post_title {
	font-weight: 700;
    margin: -4px 0 7px;
    line-height: 1.4em;
}
.widget_area .post_item .post_info,
.widget .post_item .post_info {
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    margin-bottom: 0;
}
.widget_area .post_item .post_info .post_info_item+.post_info_item:before,
.widget .post_item .post_info .post_info_item+.post_info_item:before {
	content: "";
	margin:0 0 0 5px;
}

/* Twitter */
.widget_twitter .widget_content ul {
	padding-left: 2em;
	list-style-type:none;
}
.widget_twitter .widget_content ul > li {
	position:relative;
	text-align: left;
}
.widget_twitter .widget_content ul > li+li {
	margin-top: 1.5em;
}
.widget_twitter .widget_content ul > li:before {
	position:absolute;
	z-index:1;
	display:inline-block;
	font-size:1.2em;
	font-style:normal;
	left:-1.5em;
	top: 0;
	background-color:transparent !important;
}
.widget_twitter .widget_content .sc_twitter_item .sc_twitter_item_icon {
	text-align: center;
	font-size:1.6em;
	font-style:normal;
	margin-bottom: 0.8em;
}
.widget_twitter .widget_content .sc_twitter_item a,
.widget_twitter .widget_content ul > li a {
	font-weight:normal;
}


/* CV Card
---------------------------------------------- */
body.trx_addons_cv {
	margin-left: 0;
	margin-right: 0;
}
.trx_addons_cv_header_letter {
	line-height: 0.75em;
}
.trx_addons_cv_header_letter,
.trx_addons_cv_header_text,
.trx_addons_cv_header_socials .social_item > .social_icon {
	text-shadow:none;
}
.trx_addons_cv_section_contacts input,
.trx_addons_cv_section_contacts textarea {
	-webkit-border-radius: 0 !important;
	    -ms-border-radius: 0 !important;
			border-radius: 0 !important;
}



/* Hover effects
---------------------------------------------- */
.trx_addons_hover_mask {
	left:0; top: 0;
	right: 0; bottom: 0;
}
.trx_addons_hover_content .trx_addons_hover_links a + a {
	margin-left:0.7em;
}

.trx_addons_hover_style_zoomin .trx_addons_hover_content .trx_addons_hover_title {
	display:none;
}



/* Shortcodes
---------------------------------------------- */
h2.sc_item_title_tag + .sc_item_descr, h2.sc_item_title_tag + .sc_item_slider, h2.sc_item_title_tag + .sc_item_columns, h2.sc_item_title_tag + .sc_item_content {
    margin-top: 1.6em;
}
.sc_item_descr {
    font-size: 14px;
    font-weight: 800;
}
.sc_item_subtitle {
	font-size:1em;
	font-weight:400;
	text-transform:none;	
	letter-spacing: 0;
	line-height:1.5em;
}
.sc_item_title {
	line-height:1.2em;
}
h2.sc_item_title.sc_item_title_style_default:not(.sc_item_title_tag) {
	font-size: 3.6667rem;
}
.sc_item_subtitle + .sc_item_title {
	margin-top: 0.25em;
}
.sc_item_descr {
	margin-bottom: 0;
}

/* Action */
.sc_action_item_default .sc_action_item_subtitle {
	font-size:2em;
	line-height:1.2em;
}
.sc_action_item_default .sc_action_item_subtitle + .sc_action_item_title {
	margin-top:0;
}

.sc_action_item_event.with_image .sc_action_item_inner {
	padding: 2.4em 2em; 
}
.sc_action_item_event .sc_action_item_image + .sc_action_item_subtitle {
	margin-top:0.8em;
}
.sc_action_item_event .sc_action_item_title {
	margin-top: 0;
	margin-bottom: 0.3em;
}
.sc_action_item_date {
	font-size: 1em;
	line-height: 1.3em;
	text-transform:uppercase;
	padding:0.8em 0;
	border-style:dotted;
}
.sc_action_item_description {
	font-style:italic;
	letter-spacing:0;
}
.sc_action_item_info {
	font-size: 13px;
	font-weight:400;
	line-height: 1.3em;
	padding: 1em 0 0;
	letter-spacing:0;
	border-style:dotted;
}


/* Anchor */
.menu_side_inner #toc_menu {
	display:block;
}
.menu_side_icons #toc_menu {
	position:relative;
	left:0;
	top:0;
	margin:0;
}
.menu_side_icons .toc_menu_item .toc_menu_description,
.menu_side_inner > .toc_menu_item .toc_menu_description {
	font-size:1.0667em;
	line-height:1.3em;
	font-weight:bold;
	text-transform:uppercase;
	top: 1px;
}
.menu_side_inner > .toc_menu_item .toc_menu_description {
	top: 0;
}
.menu_side_icons .toc_menu_item:hover .toc_menu_description,
.menu_side_inner > .toc_menu_item:hover .toc_menu_description {
	margin-right:0;
}
.menu_side_icons .toc_menu_item .toc_menu_description:before,
.menu_side_inner > .toc_menu_item .toc_menu_description:before {
	content: ' ';
	display:inline-block;
	vertical-align:middle;
	height: 6rem;
}
.menu_side_icons .toc_menu_item .toc_menu_description span,
.menu_side_inner > .toc_menu_item .toc_menu_description span {
	display:inline-block;
	vertical-align:middle;
	padding: 0 3em;
	letter-spacing:1px;
	margin-top: 5px;
}
.menu_side_icons .toc_menu_item .toc_menu_icon,
.menu_side_inner > .toc_menu_item .toc_menu_icon {
	width: 100%;
	height: 6rem;
	line-height: 6rem;
	border-top: 1px solid #ddd;
	-webkit-box-sizing: content-box;
	    -ms-box-sizing: content-box;
	        box-sizing: content-box;
}
.menu_side_inner > .toc_menu_item .toc_menu_icon {
	border-top: none;
}
.menu_side_icons .toc_menu_item .toc_menu_icon:before,
.menu_side_inner > .toc_menu_item .toc_menu_icon:before {
	font-size:2rem;
	font-weight:normal;
	line-height:inherit;
}

.menu_side_dots #toc_menu .toc_menu_item .toc_menu_icon {
	text-align:center;
}
.menu_side_dots #toc_menu .toc_menu_item .toc_menu_icon:before {
	content: ' ';
	width: 5px;
	height: 5px;
	line-height:inherit;
	-webkit-border-radius: 50%;
	    -ms-border-radius: 50%;
			border-radius: 50%;
}
.menu_side_dots #toc_menu .toc_menu_item_active .toc_menu_icon:before {
	width: 9px;
	height: 9px;
}

.menu_style_left .toc_menu_item .toc_menu_description {
	left: -20em;
	right: auto;
}
.menu_style_left .toc_menu_item:hover .toc_menu_description {
	left: 100%;
	right: auto;
}

/* Blogger */
.sc_blogger_item_featured .post_featured {
	margin-bottom: 0;
}
.sc_blogger .sc_blogger_item .sc_blogger_post_meta {
	font-size: 13px;
	font-style: italic;
	font-weight: 400;
	line-height: 1.5em;
}

.sc_blogger_default .sc_blogger_item {
	padding: 2.1429em;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_item_content {
	left: 45%;
	width: 55%;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_post_meta {
	margin-top:0.6em;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_item_featured {
	margin-bottom:0;
}

.sc_blogger_classic .sc_blogger_item .sc_blogger_item_content {
	padding: 3em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_post_meta {
	margin-top:0.4em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_excerpt {
	margin-top:1.5em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_excerpt_text {
	line-height:1.6em;
	max-height: 5em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_excerpt_text p {
	margin:0;
}
.sc_blogger_classic .sc_blogger_item_button {
	margin-top:1.5em;
}
.sc_blogger_classic .sc_blogger_item .more-link {
	background-color: transparent;
}


/* Courses */
.sc_courses_default .sc_courses_item_info {
	padding: 2em;
}
.sc_courses_default .sc_courses_item_date {
	letter-spacing: 0;
	font-style: italic;
}
.sc_courses_default .sc_courses_item_price {
	font-size:2em;
	margin-top:0.8em;
	min-height:1.2em;
}
.sc_courses_default .sc_courses_item .trx_addons_hover_mask {
	background-color: #000;
}
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_title {
	background-color: transparent;
	padding: 0;
	margin:0;
	text-transform:none;
	font-size: 1.6667em;
}
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_text {
	padding:0;
	margin-top:2em;
	font-style:normal;
}
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_links a {
	margin-top: 3em;
	font-size: 12px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
	padding:1.3em 1.9em;
}



/* Dishes */
.sc_dishes_default .sc_dishes_item_info {
	padding: 2.6em 3em;
	text-align:center;
}
.sc_dishes_default .sc_dishes_item_title {
	margin-top:0;
}
.sc_dishes_default .sc_dishes_item_subtitle {
	font-size: 0.8667em;
	line-height:1.5em;
	font-style:italic;
	letter-spacing:0;
	margin-top:0.1em;
}
.sc_dishes_default .sc_dishes_item_content {
	margin-top:1.6em;
}
.sc_dishes_default .sc_dishes_item_button {
	margin:1.6em 0 0;
}

.sc_dishes_compact .sc_dishes_item_title {
	line-height:1.25em;
}
.sc_dishes_compact .sc_dishes_item_subtitle {
	font-size: 13px;
	line-height:16px;
}


/* Events */
.sc_events_item {
	height: 5.2632em;
}
.sc_events_item + .sc_events_item {
	margin-top: 1em;
}
.sc_events_button {
	text-align:center;
}
.sc_events_item_date {
	height: 5.2632em;
}
.sc_events_item_day {
	font-weight:200;
	margin-top:0.2em;
}
.sc_events_item_button {
	min-height:1.3em;
}
.sc_events_item_button:before,
.sc_events_item_button:after {
	position:absolute;
	left:0; top: 0;
	content:'\e93a';
	font-family:'fontello';
	font-size:0.9286em;
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}
.sc_events_item_button:after {
	left:-30px;
	opacity:0;
}
.sc_events_item:hover .sc_events_item_button:before {
	opacity:0;
	left: 30px;
}
.sc_events_item:hover .sc_events_item_button:after {
	opacity:1;
	left: 0;
}

.sc_events_detailed .sc_events_item_date,
.sc_events_detailed .sc_events_item_time,
.sc_events_detailed .sc_events_item_button {
	font-size:0.7368em;
	font-weight:700;
	line-height:1.3em;
	text-transform:uppercase;
}
.sc_events_detailed .sc_events_item_title {
	font-size:1.0526em;
	line-height:1.2em;
	font-weight:700;
	font-style:italic;
}
.sc_events_detailed .sc_events_item,
.sc_events_detailed .sc_events_item_date,
.sc_events_detailed .sc_events_item_button,
.sc_events_detailed .sc_events_item_title,
.sc_events_detailed .sc_events_item_time {
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}

/* Form */


.sc_form .trx_addons_columns_wrap {
    margin-right: -20px;
}
.sc_form .trx_addons_columns_wrap > [class*="trx_addons_column-"] {
    padding-right: 20px;
}
.sc_form_field {
    margin-bottom: 20px;
}


.sc_form form input.filled.trx_addons_field_error,
.sc_form form input.filled.trx_addons_field_error:hover,
.sc_form form input.filled.trx_addons_field_error:focus {
	color: #ff0000 !important;
	-webkit-box-shadow: none;
	    -ms-box-shadow: none;
			box-shadow: none;	
}

.sc_form .sc_form_info_item .sc_form_info_icon:before { font-family: 'fontello'; }
.sc_form .sc_form_info_item_address .sc_form_info_icon:before { content: '\e8fd'; }
.sc_form .sc_form_info_item_email .sc_form_info_icon:before { content: '\e8fa'; }
.sc_form .sc_form_info_item_phone .sc_form_info_icon:before { content: '\e8f5'; }

.sc_form button:after {
	content:' ';
}
.sc_form_default .sc_form_field_button:before {
	content:' ';
	display:block;
	width:100%;
	height: 0;
	clear:both;
}
.sc_form_default .sc_form_field_button {
	text-align:left;
    margin-top: 2.5em;
}
.sc_content_default.sc_float_center .sc_form_default .sc_form_field_button {
    text-align: center;
}
.sc_form_modern .sc_form_field_button {
	text-align:center;
}
.sc_form_detailed button {
	display: block;
}

.sc_form_field_title {
	text-transform:none;
	font-size:1em;
	font-weight:normal;
	line-height:1.8em;
	margin-bottom:0.7em;
}
label.required .sc_form_field_title:after {
	content:'*';
	display:inline-block;
	vertical-align:text-top;
	margin:-0.5em 0 0 0.5em;
	font-size:80%;
	color:#da6f5b;
}

[class*="sc_input_hover_"] input[type="text"],
[class*="sc_input_hover_"] input[type="number"],
[class*="sc_input_hover_"] input[type="email"],
[class*="sc_input_hover_"] input[type="password"],
[class*="sc_input_hover_"] input[type="search"],
[class*="sc_input_hover_"] select,
[class*="sc_input_hover_"] textarea {
	font-size:1em !important;
	font-weight: 400;
	font-style:normal;
	line-height:1.2em;
	letter-spacing:1px;
	padding: 1.4em 1.4em !important;
}
[class*="sc_input_hover_"] .sc_form_field_hover {
	font-size: 0.92em;
}
[class*="sc_input_hover_"] .sc_form_field_content {
	font-size: 1em;
	line-height:1.2em
}
[class*="sc_input_hover_"] label.required:after {
	display: none;
}
[class*="sc_input_hover_"] label.required .sc_form_field_content:after {
	font-size:110%;
}


.sc_input_hover_accent .sc_form_field_hover:before {
  	height: 3em;
}
.sc_input_hover_accent textarea + .sc_form_field_hover:before {
  	height: 9em;
}


.sc_input_hover_path .sc_form_field_content {
	padding-top:2em;
}
.sc_input_hover_path textarea + .sc_form_field_hover > .sc_form_field_content {
	padding-top:2em;
}
.sc_input_hover_path input:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path textarea:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path input.filled + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path textarea.filled + .sc_form_field_hover > .sc_form_field_content {
	-webkit-transform: scale3d(0.875, 0.875, 1) translate3d(0, 2.8em, 0);
	    -ms-transform: scale3d(0.875, 0.875, 1) translate3d(0, 2.8em, 0);
	        transform: scale3d(0.875, 0.875, 1) translate3d(0, 2.8em, 0);
}
.sc_input_hover_path textarea:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path textarea.filled + .sc_form_field_hover > .sc_form_field_content {
	-webkit-transform: scale3d(0.875, 0.875, 1) translate3d(0, 10em, 0);
	    -ms-transform: scale3d(0.875, 0.875, 1) translate3d(0, 10em, 0);
	        transform: scale3d(0.875, 0.875, 1) translate3d(0, 10em, 0);
}

.sc_input_hover_jump .sc_form_field_content:before {
	top: -190%;
}
.sc_input_hover_jump .sc_form_field_content {
	padding:1.5em;
}

.sc_input_hover_underline .sc_form_field_hover:before {
	height: 2px;
}
.sc_input_hover_underline input:focus + .sc_form_field_hover:before,
.sc_input_hover_underline textarea:focus + .sc_form_field_hover:before,
.sc_input_hover_underline input.filled + .sc_form_field_hover:before,
.sc_input_hover_underline textarea.filled + .sc_form_field_hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	    -ms-transform: scale3d(1, 1, 1);
	        transform: scale3d(1, 1, 1);
}
.sc_input_hover_underline input:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_underline input.filled + .sc_form_field_hover > .sc_form_field_content {
	-webkit-transform: translate3d(0, 2.2em, 0) scale3d(0.875, 0.875, 1);
	    -ms-transform: translate3d(0, 2.2em, 0) scale3d(0.875, 0.875, 1);
	        transform: translate3d(0, 2.2em, 0) scale3d(0.875, 0.875, 1);
}
.sc_input_hover_underline textarea:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_underline textarea.filled + .sc_form_field_hover > .sc_form_field_content {
	height: 5.3em;
	-webkit-transform: translate3d(0, 6.2em, 0) scale3d(0.875, 0.875, 1);
	    -ms-transform: translate3d(0, 6.2em, 0) scale3d(0.875, 0.875, 1);
	        transform: translate3d(0, 6.2em, 0) scale3d(0.875, 0.875, 1);
}

.sc_input_hover_iconed .sc_form_field_hover {
    padding: 0.5em !important;
}
.trx_addons_left_side {
    padding-right: 0.8em;
}
.trx_addons_right_side {
    padding-left: 0.8em;
}


/* Googlemap */
.sc_googlemap_content .sc_form_default .sc_form_details {
	width:100%;
	float:none;
}
.sc_googlemap_content .sc_form_default .sc_form_details > div {
	width: 100%;
	padding-right:0;
}
.sc_googlemap_content .sc_form_default .sc_form_field_message {
	width: 100%;
	float:none;
	padding-left: 0;
}
.sc_googlemap_content .sc_form .sc_form_field input[type="text"],
.sc_googlemap_content .sc_form .sc_form_field textarea {
	padding:0.5em 1em;
}
.sc_googlemap_content .sc_form .sc_form_field textarea {
	min-height:3em;
}

.sc_googlemap_content_detailed p {
	margin-bottom:1em;
}



/* Icons */
.sc_icons .sc_icons_icon:before, .sc_icons .sc_icons_icon > span:before {
    font-size: 6em;
    line-height: 1.1em;
}
.sc_icon_type_svg svg {
	width: 6em;
	height: 6em;
}
.sc_icons_size_small .sc_icons_icon::before, .sc_icons_size_small .sc_icons_icon > span::before {
    font-size: 4em;
    line-height: 1.1em;
}
.sc_icons_size_small .sc_icon_type_svg svg {
	width: 4em;
	height: 4em;
}
.sc_icons_size_large .sc_icons_icon::before, .sc_icons_size_large .sc_icons_icon > span::before {
    font-size: 8em;
    line-height: 1.1em;
}
.sc_icons_size_large .sc_icon_type_svg svg {
	width: 8em;
	height: 8em;
}
.sc_icons .sc_icons_icon,
.sc_icons .sc_icons_item_title {
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}
.sc_icons_item_title {
	font-size: 1.2em;
	line-height:1.3em;
	font-weight:400;
	font-style: normal;
	text-transform:uppercase;
	letter-spacing:1px;
}
.sc_icons .sc_icons_image + .sc_icons_item_title,
.sc_icons .sc_icons_image + .sc_icons_item_description {
	margin-top:2em;
}
.footer_wrap .sc_icons .sc_icons_icon + .sc_icons_item_title {
	margin-top:1em;
	margin-bottom:2em;
}
.sc_icons_item_description {
	font-size: 1em;
	line-height: 1.6em;
	font-weight:400;
	font-style:normal;
}
.sc_icons_modern .sc_icons_item_description {
	font-size: 1.2em;
	line-height: 1.3em;
}
.sc_icons .sc_icons_item_title + .sc_icons_item_description {
	margin-top:0.7em;
}

/* Price */
.sc_price {
    border: 6px solid #ffffff;
    background: transparent !important;
    -webkit-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
.sc_price_info {
	padding: 3.5em 1.5em 3.1em;
	text-align:center;
}
.sc_price_subtitle {
	font-size: 1em;
	line-height: 1.3em;
	font-weight: normal;
	text-transform:uppercase;
	letter-spacing: 1px;
	margin-bottom:0.5em;
}
.sc_price_title {
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1.25em;
    text-transform: uppercase;
}
.sc_price_description {
	font-size:1.0667em;
	font-weight:400;
	font-style:italic;
	line-height:1.25em;
	letter-spacing:0;
	margin:0.65em 0;
}
.sc_price_price {
    font-size: 5em;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1em;
    margin: 20px 0 0;
}
.sc_price_decimals {
	text-decoration:none;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-left: 0;
    margin-top: -7px;
}
.sc_price_details {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.66em;
    position: relative;
    margin-top: 2.2em;
    padding-top: 1.8em;
    min-height: 8.3em;
}
.sc_price_details:before {
    content: "";
    height: 1px;
    width: 80%;
    position: absolute;
    top: 0;
    left: 10%;
    background: rgb(255,255,255,0.7);
}
.sc_price_link:after {
	display:none;
}
.sc_price_link {
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
    padding: 1.2em 1.55em;
    margin-top: 3.4em;
}

/* Promo */
.sc_promo.sc_promo_size_tiny .sc_promo_image {
	margin: 0.5em;
}
.sc_promo_text blockquote {
	margin: 0 !important;
}
.sc_promo.sc_promo_size_normal .sc_promo_icon,
.sc_promo.sc_promo_size_large .sc_promo_icon {
	font-size: 7em;
	line-height: 1em;
	margin-bottom:0.14em;
}
.sc_promo_title + .sc_promo_content,
.sc_promo_subtitle + .sc_promo_content {
	margin-top: 1.8em;
}
.sc_promo_title + .sc_promo_subtitle {
	margin-top: 1.25em;
}

.sc_promo .sc_promo_content .sc_layouts_item {
    line-height: 0;
}

.sc_promo.sc_promo_size_normal .sc_promo_text_inner {
	padding:3.2em;
}
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_descr,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_descr,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_content,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_content,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_content {
	margin-top: 1.8em;
}
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_content + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_content + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_slider + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_slider + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_columns + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_columns + .sc_item_button_image {
	margin-top: 1.8em;
}






.sc_promo.sc_promo_size_large .sc_promo_text_inner {
    padding: 18% 10%;
}
.sc_promo.sc_promo_size_large .sc_promo_text_inner h1.sc_promo_title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 5em;
    line-height: 1em;
}


/* classes */
.sc_classes_default .sc_classes_item_subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.sc_classes_default .trx_addons_hover_content .trx_addons_hover_title {
	font-size: 1.3333em;
}
.sc_classes_default .sc_classes_item_icon {
	margin-top: 0.8em;
}
.sc_classes_default .sc_classes_item_info {
	padding: 2.1em 2.55em;
	text-align:left;
}
.sc_classes_default .sc_classes_item_title {
	margin-top:0.6em;
}
.sc_classes_default .sc_classes_item_subtitle {
	letter-spacing:0.25px;
	margin-top:0.1em;
}
.sc_classes_default .sc_classes_item_content {
	margin-top: 1.15em;
}
.sc_classes_default .sc_classes_item_button {
	margin:2.15em 0 0;
}
.sc_classes_iconed .sc_classes_item_icon {
	font-size:2.8em;
	line-height:1em;
}
.sc_classes_iconed .sc_classes_item_header {
	padding:2rem;
}
.sc_classes_iconed .sc_classes_item_title {
	font-size:1em;
	line-height:1.5em;
}
.sc_classes_iconed .sc_classes_item_subtitle,
.sc_classes_iconed .sc_classes_item_button {
	display:none;
}



.sc_classes.sc_classes_light .sc_classes_columns {
    margin: 0 !important;
}
.sc_classes.sc_classes_light .sc_classes_columns [class*="trx_addons_column-"] {
    padding: 0 !important;
}
.sc_classes.sc_classes_light .sc_classes_item .post_featured {
    margin: 0;
}
.sc_classes.sc_classes_light .sc_classes_item {
    position: relative;
}
.sc_classes.sc_classes_light .sc_classes_item .sc_classes_item_header {
    left: 1.8em;
    position: absolute;
    top: 1.7em;
}
.sc_classes_light .sc_classes_item_title {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.2px;
    line-height: 18px;
}
.sc_classes_light .sc_classes_item_subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin-top: 3px;
}
.sc_classes_light .post_featured a {
    position: relative;
    display: block;
}
.sc_classes_light .post_featured a:before {
    content: '\e940';
    font-family: 'fontello';
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: block;
    font-size: 86px;
    height: 126px;
    left: 50%;
    line-height: 126px;
    margin: -63px 0 0 -63px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 126px;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    color: #ffffff;
}

.sc_classes_light .sc_classes_item:hover .post_featured a:before {
    opacity: 1;
}


/* Skills */
.sc_skills_counter .sc_skills_item_wrap {
	max-width:none;
}
.sc_skills .sc_skills_item_title {
	font-size:12px;
	line-height:16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing:1px;
}
.vc_row.vc_inner .sc_skills_counter .sc_skills_column + .sc_skills_column:before {
	content:' ';
	position:absolute;
	left:0;
	top: 0;
	height: 100%;
	width: 1px;
}
.vc_row.vc_inner .sc_skills_counter .sc_skills_item_wrap {
	padding:3.4em 0 0 4em;
}

.sc_skills_counter .sc_skills_icon {
	font-size:4.2em;
	line-height: 1.15em;
}
.sc_skills_counter .sc_skills_total {
    font-size: 3.438em;
    font-weight: 800;
    line-height: 1.1em;
    margin: 0;
}
.sc_skills_counter .sc_skills_icon+.sc_skills_total {
	margin-top:0.2em;
}
.sc_skills_counter .sc_skills_item_title {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.25em;
    margin-top: 3px;
    text-transform: none;
}

.sc_skills_pie.sc_skills_compact_off .sc_skills_total {
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1.15em;
    top: 50%;
}
.sc_skills_pie.sc_skills_compact_off .sc_skills_item_title {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.3em;
    margin-top: 0;
    text-transform: none;
}
.team_member_page .team_member_brief_info_title {
    margin: 0 0 1em;
}

/* Table */
.sc_table table th, .sc_table table td {
	padding:0.82em 1.1em;
    font-weight: 400;
}
.sc_table table td {
    padding: 1.48em 1.1em;
}

.sc_table table tr:first-child th, .sc_table table tr:first-child td {
    font-weight: 400;
}
.sc_table table td {
    font-weight: 300;
    letter-spacing: 0.1px;
}

/* Testimonials */
.sc_testimonials_item_content {
	font-size: 1em;
	font-weight:400;
	font-style:normal;
    text-align: left;
    position: relative;
    padding-left: 2.5em;
    margin-top: 1em;
}
.sc_testimonials_item_content:before {
	content:'“';
    font-size: 5.3em;
    left: -2px;
    line-height: 1em;
    margin-bottom: 0.6em;
    position: absolute;
    top: -24px;
}
.sc_testimonials [class*="column"] .sc_testimonials_item_content {
	font-size: 1em;
	line-height:1.4em;
}
.sc_testimonials_item_author {
	background-color: transparent;
	text-align:left;
    margin-top: 2.1em;
    padding: 0 0 0 2.5em;
	max-width:none;
}
.sc_testimonials [class*="column"] .sc_testimonials_item_author {
    padding: 0 0 0 2.5em;
}
.sc_testimonials_item_author_avatar {
    border-radius: 50%;
    height: 4.6em;
    margin: 0 0.85em 0 0;
    overflow: hidden;
    width: 4.6em;
}
.sc_testimonials_item_author_title {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: -0.3px;
    text-transform: none;
}
.sc_testimonials_item_author_title + .sc_testimonials_item_author_subtitle {
	margin-top:0.1em;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 1.3em;
    font-style: italic;
}


/* Team */
.sc_team_default .sc_team_item {
    background: transparent;
}
.sc_team_default .trx_addons_hover_content .trx_addons_hover_title {
	font-size: 1.3333em;
}
.sc_team_default .sc_team_item_info {
	padding: 1.45em 1.45em 0;
	text-align:center;
    position: relative;
    top: 0;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.sc_team_default .sc_team_item .icons,
.sc_team_default .sc_team_item .mask {
    display: none;
}
.sc_team_default .sc_team_item:hover .sc_team_item_info {
    top: -45px;
}
.sc_team_default .sc_team_item .sc_team_item_thumb {
    overflow: hidden;
}
.sc_team_default .sc_team_item .sc_team_item_thumb img {
    position: relative;
    top:0;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.sc_team_default .sc_team_item:hover .sc_team_item_thumb img {
    top: -45px;
}
.sc_team_default .sc_team_item_title {
    font-size: 1.5em;
    letter-spacing: -0.5px;
    margin-top: 0;
}
.sc_team_default .sc_team_item_subtitle,
.sc_team_short .sc_team_item_subtitle,
.sc_team_featured .sc_team_item_subtitle {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 20px;
    margin-top: 9px;
}
.sc_team_default .sc_team_item_socials .social_item {
	display:inline-block;
	margin: 0 3px 3px 0;
}
.sc_team_default .sc_team_item_socials .social_item .social_icon {
    display: block;
    font-size: 1.05em;
    height: 2.1em;
    line-height: 2.1em;
    width: 2.1em;
}
.sc_team_default .sc_team_item_socials {
    margin: 0.9em -0.4em -0.5em 0;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.sc_team_default .sc_team_item:hover .sc_team_item_socials {
    opacity: 1;
}
.sc_team_default .sc_team_item_socials + .sc_team_item_button {
	display:none;
}
.sc_team_default .sc_team_item_button {
	margin:1.6em 0 0;
}


.team_member_page .team_member_brief_info_text {
	letter-spacing:0;
}
.team_member_page .team_member_socials .social_item {
	display:inline-block;
	margin: 0 3px 3px 0;
}
.team_member_page .team_member_socials .social_item .social_icon {
	display:block;
	width: 2.4em;
	height: 2.4em;
	line-height: 2.4em;
}




ul.trx_addons_list_success > li:before {
    left: -1.65em;
    top: 1px
}
ul[class*="trx_addons_list"].trx_addons_list_success > li:before {
    font-size: 0.8em !important;
}

ul[class*="trx_addons_list"].trx_addons_list_custom > li:before {
    content:'\e919';
    font-family:'fontello';
    font-size: 0.9em;
    left: -1.7em;
}
ul[class*="trx_addons_list"].trx_addons_list_custom {
    padding-left: 1.55em;
}





.footer_wrap .socials_wrap .social_item .social_icon {
    background: transparent !important;
}
footer .socials_wrap .social_item .social_icon {
    height: 1.7em;
    line-height: 1.7em;
    width: 1.7em;
    font-size: 1.3em;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}





.socials_wrap .social_item .social_icon {
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-size: 1.4em;
    height: 1.6em;
    line-height: 1.6em;
    width: 1.6em;
}






/* Layouts */
.sc_layouts_row_type_narrow .sc_button {
    background-color: transparent !important;
}
.sc_layouts_row_type_narrow .socials_wrap .social_item {
    margin: 0 25px 0 0;
}
.sc_layouts_row_type_narrow .socials_wrap {
    margin: 0 -25px 0 0;
}
body .sc_layouts_row_type_narrow .sc_button {
    font-size: 12px;
    font-weight: 700;
    padding: 0;
}
.sc_layouts_row_type_narrow .sc_layouts_cart_details {
    display: none;
}
.sc_layouts_row_type_narrow .sc_layouts_cart {
    margin-right: 10px;
}
.body_style_boxed .sc_layouts_row_type_narrow .sc_layouts_cart {
    margin-right: 0;
}
.sc_layouts_row_type_narrow .sc_layouts_cart_items_short {
    display: block;
}
.sc_layouts_row_type_narrow .sc_layouts_item_icon.sc_layouts_cart_icon {
    font-size: 1.6em;
}
.sc_layouts_row_type_narrow .sc_layouts_iconed_text {
    letter-spacing: 0.4px;
}
.sc_layouts_row_type_narrow .sc_layouts_column .sc_layouts_item {
    margin-right: 4.6em;
}
.sc_layouts_row_type_narrow .sc_layouts_column_align_right .sc_layouts_item {
    margin-right: 0;
    margin-left: 4.6em;
}
.sc_layouts_title_breadcrumbs {
    margin-top: 2.6em;
}
.sc_layouts_title_breadcrumbs a {
    border-bottom: 2px solid transparent;
}






/* menu */
.sc_layouts_menu_nav > li {
    margin: 0 6px;
}
.sc_layouts_menu_nav > li.menu-collapse > a {
    padding-left: 10px;
    padding-right: 10px;
    background: transparent !important;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav > li > a, .sc_layouts_menu_nav > li li > a {
    padding: 0.34em 3.1em 0.34em 1.8em;
}
.sc_layouts_menu_nav > li.current-menu-item > a, .sc_layouts_menu_nav > li.current-menu-parent > a, .sc_layouts_menu_nav > li.current-menu-ancestor > a {
    font-weight: 800;
}
.sc_layouts_menu_nav > li ul {
    top: 4em;
    background: transparent;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
.sc_layouts_menu_nav > li > ul {
    left: 0;
    margin-left: 0;
}
.sc_layouts_menu_nav > li.menu-item-has-children > a:after {
    display: none;
}
.sc_layouts_menu_nav > li.menu-item-has-children > a {
    padding-right:1.325em;
}
.sc_layouts_menu_nav > li > a {
    padding: 0.5em 1.325em;
    -webkit-border-radius: 2em;
    -ms-border-radius: 2em;
    border-radius: 2em;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav > li.menu-item-has-children > a:after,
.sc_layouts_menu_nav li li.menu-item-has-children > a:after {
    content: '\e919';
    font-family: 'fontello';
    right: 1.9em;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_popup .sc_layouts_menu_nav > li > ul, .sc_layouts_menu_nav > li > ul ul {
    background-color: transparent;
    left: 16.5em;
    margin: 0 0 0 2px;
    top: -1.4em;
}
.sc_layouts_menu_nav > li > ul ul.submenu_left {
    left: -16.5em;
    margin: 0 0 0 -2px;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_nav > li ul {
    width: 16.5em;
    -webkit-border-radius: 2em;
    -ms-border-radius: 2em;
    border-radius: 2em;
}














.sc_layouts_item_icon.sc_layouts_cart_icon:before {
    content: '\e913';
    font-family: 'fontello';
}
.trx_addons_login_link .sc_layouts_item_icon.sc_layouts_login_icon.trx_addons_icon-user-alt:before {
    content: '\e82b';
    font-family: 'fontello';
    font-size: 1.2em;
}
.sc_layouts_cart_items_short {
    font-size: 10px;
    font-weight: 700;
    width: 16px;
    height: 16px;
    line-height: 16px;
    top: auto;
    bottom: -3px;
    right: -9px;
}
.sc_layouts_item_icon + .sc_layouts_item_details {
    margin-left: 0.68em;
}
.sc_layouts_item_details_line1 {
    font-weight: 700;
}














.trx_addons_video_player.with_cover .video_mask {
    background-color: transparent;
}
.trx_addons_video_player.with_cover .video_hover {
    margin-top: 0;
    opacity: 1;
}
.trx_addons_video_player.with_cover .video_hover:before {
    content: '\e8e1';
    font-family: 'fontello';
}

.widget_contacts .contacts_info h5 {
    margin: 0 0 8px 0;
}
.widget_contacts .contacts_info span {
    padding: 0;
}
.widget_contacts .contacts_info span:before {
    display: none;
}
.wpb_column:not(.vc_col-sm-12) .widget_contacts .contacts_info span {
    margin-bottom: 1.7em;
}




.sc_layouts_cart {
    z-index: 999999;
}
.sc_layouts_cart_widget {
    border: none;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2.3em 2em 1.5em;
    right: -2em;
    top: 4.3em;
    width: 256px;
}
.sc_layouts_cart_widget:after {
    margin: -7px 0 0 -4px;
    height: 14px;
    width: 14px;
}
.sc_layouts_cart .widget_shopping_cart .buttons a {
    margin: 0 0 8px;
    width: 100%;
    text-align: center;
}
.sc_layouts_cart .widget_shopping_cart .total,
.woocommerce .sc_layouts_cart .widget_shopping_cart .total,
.woocommerce-page .sc_layouts_cart .widget_shopping_cart .total {
    font-size: 12px !important;
    padding: 1.6em 0 0.3em !important;
}
.sc_layouts_cart ul.cart_list a.remove,
.woocommerce .sc_layouts_cart ul.cart_list a.remove {
    margin-top: 1.55em;
}
.sc_layouts_cart_widget .sc_layouts_cart_widget_close {
     padding: 5px 10px;
}
.sc_layouts_cart ul.cart_list li img,
.woocommerce .sc_layouts_cart ul.cart_list li img {
    border: 1px solid #e8ebed;
}
.sc_layouts_cart .button + .button {
    margin-left: 0 !important;
}

.sc_layouts_cart .widget_shopping_cart .cart_list li {
    padding: 0 0 0 1.3em;
}


.trx_addons_tabs_titles {
    margin-bottom: 0;
}
.trx_addons_popup {
    height: 335px;
    width: 480px;
}
.trx_addons_popup_form_field_submit {
    padding-top: 1em;
}
.trx_addons_popup_form_field_submit .submit_button {
    font-size: 13px;
    padding: 0.65em 1.7em;
}



/* Demo Classes */
.extra_margin_right {
    margin-right: -1.5em;
}
.footer_extra_link_color .socials_wrap .social_item:hover .social_icon {
    color: #212226 !important;
}
.black_text_uppercase > * {
    font-weight: 800;
    text-transform: uppercase;
}
.extra_margin_about {
    padding: 1.9em 3.4em 1.9em 1.9em !important;
    width: 105% !important;
}
.extra_margin_about_link {
    padding: 1.8em 3.2em 0 0 !important;
    width: 105% !important;
}
.extra_margin_about_link .sc_layouts_item {
    display: inline-block;
}
.extra_margin_about_link .sc_layouts_item + .sc_layouts_item {
    margin-left: 3.5em;
}
.extra_text h3,
.extra_text h5,
.extra_text h6 {
    margin: 0;
    color: #ffffff !important;
}
.extra_text h6 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.7px;
    margin-top: 0.5em;
}
.extra_text h5 {
    font-size: 2.500em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 20px;
}
.extra_text h3 {
    font-size: 5.938em;
    font-weight: 800;
    letter-spacing: 7px;
    line-height: 1em;
    text-transform: uppercase;
}
.extra_bg_social .social_item .social_icon {
    background: #e7e8e7;
    -webkit-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    border-radius: 50% !important;
    font-size: 1.65em;
    height: 1.8em;
    line-height: 1.8em;
    width: 1.8em;
}






.sc_layouts_row_type_narrow .sc_layouts_item .sc_layouts_login a * {
    -webkit-transition: color .3s ease;
    -ms-transition: color .3s ease;
    transition: color .3s ease;
}
.sc_layouts_row.sc_layouts_row_fixed_on .sc_layouts_logo img {
    max-height:68px;
}

