/* Tooltips */
.trx_addons_tooltip {
	border-bottom-style: solid;
}
.trx_addons_tooltip:before {
	font-size:1em;
	line-height:1.3em;
	padding: 0.6em 1em;
	-webkit-transform:translateX(-50%);
	    -ms-transform:translateX(-50%);
	        transform:translateX(-50%);
	-webkit-border-radius: 0 !important;
	    -ms-border-radius: 0 !important;
			border-radius: 0 !important;
}
.trx_addons_tooltip:after {
	margin-bottom:-8px;
	-webkit-transform:none;
	    -ms-transform:none;
	        transform:none;
}
.trx_addons_tooltip:before {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 0.8em 1.5em;
}

/* Dropcaps */
.trx_addons_dropcap {
	font-size:3.438em;
	padding: 0;
	margin: 4px 0.3em 0 0;
	width: 1.25em;
	height: 1.2em;
	line-height: 1.1em;
    font-weight: 800;
	-webkit-border-radius: 2px;
	    -ms-border-radius: 2px;
			border-radius: 2px;
}

.trx_addons_dropcap_style_1 {
    background: transparent;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-weight: 400;
    font-size: 5em;
    height: 0.85em;
    line-height: 0.95em;
    width: 0.9em;
    margin: 4px 0.2em 0 0;
}



/* Tiny text */
.trx_addons_tiny_text {
	letter-spacing:2px;
}

/* Lists */
.trx_addons_list_parameters > li > strong,
.trx_addons_list_parameters > li > em {
	color:inherit;
}
.trx_addons_list_parameters > li > em {
	font-family:inherit;
}




