.mptt-shortcode-wrapper .mptt-shortcode-table {
    border: 2px solid #ebebeb;
    border-collapse: separate;
    margin-top: 4.1rem;
}
.mptt-shortcode-wrapper .mptt-shortcode-table tbody td {
    border-width: 0;
}
.mptt-shortcode-wrapper .mptt-shortcode-table tr.mptt-shortcode-row th {
    background-color: #ffffff;
    border: 0 solid #ebebeb;
    color: #b2b2b2;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.mptt-shortcode-wrapper .mptt-shortcode-table tbody .mptt-event-container {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.mptt-shortcode-wrapper .mptt-shortcode-table tbody .mptt-event-container .event-title {
    color: #171717;
    font-size: 15px;
    font-weight: 700;
    margin: 0.3rem 0.1rem 0.1rem;
}
.mptt-shortcode-wrapper .mptt-shortcode-table tbody .mptt-event-container:hover .event-title {
    color: #ffffff;
}
.mptt-shortcode-wrapper .mptt-shortcode-table tbody td.mptt-shortcode-hours {
    color: #b2b2b2;
    padding: 0 2.2rem !important;
}
.mptt-shortcode-wrapper .mptt-shortcode-table tbody .mptt-event-container .timeslot {
    font-size: 13px;
    margin: 0.2rem 0.1em 0.5em;
}
.mptt-shortcode-wrapper .mptt-navigation-tabs {
    margin: 0;
    padding: 0;
    text-align: center;
}
.mptt-shortcode-wrapper .mptt-navigation-tabs li {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 30px;
    margin: 0 5px;
    padding: 0;
}
.mptt-shortcode-wrapper .mptt-navigation-tabs li a {
    border: 2px solid #ebebeb;
    color: #838487;
    padding: 5px 13px;
    -webkit-border-radius: 2em;
    -ms-border-radius: 2em;
    border-radius: 2em;
}
.mptt-shortcode-wrapper .mptt-navigation-tabs li.active a,
.mptt-shortcode-wrapper .mptt-navigation-tabs li a:hover {
    color: #ffffff;
}
.post_type_mp-event .post_content .timeslot {
    background-color: #ffffff;
    padding: 1.65em 1.8em 1.8em;
    display: inline-block;
    height: 100%;
    text-align: left;
    vertical-align: top;
    width: 30.3%;
    margin-right: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.post_type_mp-event .post_content .timeslot:nth-child(3n+1) {
    margin-right: 0;
}
.post_type_mp-event .timeslot .timeslot-link {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 18px;
}
.post_type_mp-event .timeslot .timeslot-user {
    color: #212226;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 9px;
}
.post_type_mp-event .timeslot .timeslot-user > img {
    margin-right: 7px;
}
.post_type_mp-event .timeslots-title {
    margin-bottom: 1em;
}