/*!
 Theme Name:   Tiger Claw Child
 Theme URI:    http://tiger-claw.themerex.net/
 Description:  Tiger Claw Child Theme
 Author:       ThemeREX
 Author URI:   http://themerex.net/
 Template:     tiger-claw
 Version:      1.0
 Tags:         light, inheritable theme options
 Text Domain:  tiger-claw
*/

//abstract
@import 'abstracts/variables';


//helpers
@import 'helpers/typography';
//components
@import 'components/utils',
        'components/admin-bar',
        'components/menu',
        'components/page',
        'components/footer',
        'components/form',
        'components/ess-grid-jka',
        'components/classes-grid',
        'components/tribe-events',
        'components/woocommerce';


//hide some things
.related_wrap{
    display: none !important;
}
.single-mp-event,
.single-mp-column{
    .post_meta{
        display: none !important;
    }
}